
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200italic,200,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Viga);
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.logo{
    font-family: Viga;
}

.bg {
    width: 100%;
    min-height: 100vh;
    background-color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-dark{
    background-color: #323058;
}

.dark-blue{
    background-color: #1976d2;
    min-height: 100vh;
}

.center-box{
    display: flex;
    width: 750px;
    height: 447px;
    border-radius: 4px;
    background-color: #2196f3;
}

.center-base{
    width: 330px;
    color: #ffffff;
    height: 100%;
    float: left;
}

.center-form{
    width: 420px;
    float: left;
    background: #ffffff;
    height: 100%;
}

.center-footer{
    height: 60px;
    background-color: #f9f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
}

.form-label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
}

.bold{
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: inherit;
}

.no-padding{
    padding: 0;
}

.hundred{
    width: 100%;
}

.form-group{
    height: 36px;
}

.input-box{
    font-size: 14px;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    padding-left: 10px;
    border: solid 1px #dfe3e9;
}

.textarea{
    padding-top: 10px;
    height: 190px;
}

.input-full{
    max-width: 360px;
}

.input-half{
    max-width: 175px;
}
.form-button{
    background-color: #2196f3;
    border-radius: 4px;
    width: 100%;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    height: 36px;
    border: none;
}

.fifty-left{
    width: 47%;
    margin-right: 3%;
    float: left;
}

.fifty-right{
    width: 47%;
    margin-left: 3%;
    float: left;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
    font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
    font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight: 400;
}

.padding30{
    padding: 30px;
}

.center-box-logo{
    font-size: 38px;
}

.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: #2196f3;
}

.title1{
    font-size: 26px;
    margin: 10px 0 10px 0;
}

.title2{
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.para-text{
    font-size: 14px;
    line-height: 21px;
    color: #88c7f8;
}

.light-blue{
    background-color: #2196f3;
}
/*Heade*/
.header-container{
    height: 85px;
    background-color: #1976d2;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-project{
    width: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-project{
    margin-left: 10px;
}

.current-project{
    text-transform: uppercase;
    font-size: 9px;
}

.select-project{
    font-weight: 600;
    font-size: 25px;
}

.header-profile{

}


/*Sidebar*/
.menu-item{
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.menu-active{
    width: 5px;
    height: 30px;
    background-color: #ffffff;
}

.menu-title{
    text-align: center;
    margin-left: 30px;
}

.menu-subitem{
    margin-left: 35px;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    display: flex;
    align-items: center;
}

.std-size-160{
    width: 160px;
}

.subitem-active{
    font-weight: 400;
}

.menu-plus{
    margin-left: auto;
    font-size: 20px;
    width: 20px;
}


/*Table*/
.table-head{
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.results{
    opacity: 0.8;
    font-size: 14px;
    font-weight: 300;
}

.search-box{
    width: 270px;
}

.search-icon{
    position: absolute;
    margin-left: -25px;
    margin-top: 14px;
}

.border-button{
    border: 1px solid white;
    border-radius: 4px;
    margin: 5px;
   padding: 8px;
}

.left-paging{
    border: 1px solid white;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    text-align: center;
    width: 40px;
    float: left;
}

.table-paging{
    margin: 5px;
}

.right-paging{
    border: 1px solid white;
    border-radius:  0 4px 4px 0;
    padding: 8px;
    text-align: center;
    width: 40px;
    float: left;
    border-left: none;
}
.table{
    width: 100%;
    float: left;
    background-color: #ffffff;
    min-height: 80vh;
}

.table-sidebar{
    /*width:20%;*/
    width: 250px;
    float: left;
    height: 869px;
    color: #ffffff;
    position: absolute;
}

.table-content{
    width: 100%;
    padding-left: 250px;
    /*max-width: 1090px;*/
    float: left;
    font-size: 14px;
}

.pink{
    background-color: #ff0080;
    color: #ffffff;
}

.grey-green{
    background-color: #00bcd4;
}

.orchid{
    background-color: #ba68c8;
}

.pull-top{
    position: absolute;
    margin-top: 1px;
}

.menu-status{
    width: 5px;
}
.pipe{
    margin: 2px;
}


.table-total{
    margin: 5px;
}

.bold{
    font-weight: 600;
    font-size: 20px;
}

tr.table-row th.bold{
    font-weight: 800;
    font-size: 14px;
}

.table-title{
    width: 250px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding-left: 35px;
}

.table-options{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.table-new{
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sub-title{
    height: 50px;
    padding-left: 35px;
    display: flex;
    align-items: center;
}

.divider{
    height: 1px;
    background-color: #e6eaee;
    width: 100%;
}

.user-row{
    min-height: 70px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon-container{
    width: 50px;
    float: left;
}

.button-user{
    padding: 5px 10px 5px 10px;
    color: white;
    margin: 20px;
}

.button-role{
    width: 60px;
    padding: 5px 10px 5px 10px;
    color: white;
    text-align: center;
}

.user-icon{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.user-name{
    font-size: 14px;
    font-weight: 800;
    color: #354052;
}

.blue-link{
    color: #2196f3;
    text-decoration: none;
    margin-right: 20px;
}

.user-profile{
    width: 400px;
}

.table-settings{
    width: 40px;
    text-align: center;
}

.table-main{
    width: 100%;
}

.table-image{
    width: 100%;
    max-width: 100px;
    border-radius: 4px;
}

.menu-item-list{
    display: inline-block;
    width: 100%;
}

tr.table-row td {
    border-bottom:1pt solid #e6eaee;
    height: 40px;
    padding: 10px 0 10px 0;
}
tr.table-row th {
    border-bottom:1pt solid #e6eaee;
    height: 40px;
    text-align: left;
    font-weight: 400;
    color: #1b1945;
}

tr.table-row th.checkbox, tr.table-row td.checkbox {
    text-align: center;
    width: 50px;
}
/*Dialog*/
.back-button {
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-head-title{
    font-size: 22px;
}

.header-dialog{
    margin-left: 15px;
    justify-content: inherit;
    width: auto;
}

.dialog-main-content{
    max-width: 998px;
    margin: 0 auto;
}

.dialog-content-head{
    color: #ffffff;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 70px;
}

.dialog-content-title{
    font-size: 50px;
    line-height: 1.42;
}

.dialog-content-left{
    max-width: 282px;
}

.dialog-form{
    background-color: #ffffff;
}

.dialog-form-group{
    width: 100%;
    padding: 0 70px 0 70px;
    display: flex;
    /*justify-content: center;*/
    min-height: 70px;
    align-items: center;
}

.dialog-form-label{
    width: 280px;
    text-align: right;
}
.dialog-form-field{
    margin-left: 30px;
    width: 100%;
}

.rc-dialog-content{
    background-color: #1976d2;
}

.rc-dialog-body{
    padding: 0;
}

.dark-blue-color{
    background-color: #1976d2;
}

.form-builder-head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: inherit;
}

.form-builder-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 20%;
    padding: 25px;
    background-color: #1b7cd9;
}

.form-builder-alert{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
}

.dialog-main-content.form-builder{
    width: 100%;
    max-width: none;
}

.dialog-center-content{
    width: 80%;
    float: left;
}

.button-group{
    display: inline-flex;
    margin: 0 10px 0 10px;
}

.dialog-sidebar{
    color: #ffffff;
    width: 20%;
    /*padding: 20px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    float: left;
}

.form-item{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    /*margin-bottom: 15px;*/
    /*margin-right: 15px;*/
    margin: 15px;
    text-align: center;
}

.form-item-icon{
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
.form-item-caption{
    width: 100%;
    font-size: 11px;
}

.form-builder{

}

.form-options{
    width: 20%;
    float: left;
    background-color: #ffffff;
}

.dialog-form.form-builder .dialog-form-group{
    padding: 0 30px 0 0;
}

.eighty{
    width: 80%;
    float: left;
    max-width: 600px;
}

.twenty {
    width: 20%;
    float: left;
}

.button-grey{
    border: 1px solid #dfe3e9;
}

.form-textarea{
    justify-content: flex-start;
    align-items: flex-start;
}

.rc-dialog-close{
    display: none;
}

.place-label{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    border: solid 1px #dfe3e9;
}

.place-input{
    padding-left: 40px;
}

.select-options{
    height: 30px;
}

.drop-option{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.drop-option:hover{
    font-weight: 600;
    background-color: rgba(74, 128, 224, 0.2);
}

.drop-option.pink:hover{
    background-color: #ff0080;
}